:host {
  position: absolute;
  display: inline-block;
  width: 160px;
  background-color: #16484b;
  /* border: 1px solid black;*/
  z-index: 1;
  box-shadow: 2px 2px 5px #bcbcbc;
}

:host(.vertical-menu) {
  position: static;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
