:host {
  height: 60px;
  text-align: right;
  padding-top: 6px;
  color: #eee;
}

div {
  display: inline;
  margin-left: 30px;
  font-size: 22px;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.top-img {
  width: 33px;
  height: 33px;
  margin-left: 10px;
  vertical-align: middle;
}
