<div class="main">
  <h3>Car maintenence</h3>
  <button class="btn btn-primary" (click)='createCar()'>Add new car</button>

  <div class="container-fluid">
    <table class="table table-striped table-hover table-dark">
      <thead class="thead-dark">
        <tr class='row'>
          <th class='col-lg-1 col-sm-1 col-1'>ID</th>
          <th class='col-lg-3 col-sm-3 col-3'>Car name</th>
          <th class='col-lg-3 col-sm-3 col-3'>Car model</th>
          <th class='col-lg-2 col-sm-2 col-3'>Price</th>
          <th class='col-lg-3 col-sm-3 col-1'></th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" *ngFor="let item of CarList">
          <td class='col-lg-1 col-sm-1 col-1'>{{item.id}}</td>
          <td class='col-lg-3 col-sm-3 col-3'>{{item.name}}</td>
          <td class='col-lg-3 col-sm-3 col-3'>{{item.model}}</td>
          <td class='col-lg-2 col-sm-2 col-3'>{{item.price}}</td>
          <td class='col-lg-3 col-sm-3 col-2' *ngIf="item.id != deleteId">
            <button class="btn btn-sm btn-primary" (click)='showCarDetail(item.id)'>Details</button>
            <button class="btn btn-sm btn-warning" (click)='editCar(item.id)'>Edit</button>
            <button class="btn btn-sm btn-danger" (click)='deleteCarQuestion(item.id)'>Delete</button>
          </td>
          <td class='col-lg-3 col-sm-3 col-2' *ngIf="item.id === deleteId && !isDeleting">
            <button class="btn btn-sm btn-light" (click)='cancelDelete()'>Cancel</button>
            <button class="btn btn-sm btn-danger" (click)='deleteCar(item.id)'>Delete</button> Delete this car?
            <p *ngIf="deleteError">{{deleteError}}</p>
          </td>
          <td class='col-lg-3 col-sm-3 col-2' *ngIf="item.id === deleteId && isDeleting">
            Deleting ...
            <img src="assets/images/deleteLoader.gif">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
