:host {
  display: block;
  background-image: linear-gradient(to right top, #6d7685, #6c7687, #6b7688, #6a778a, #69778c);
}

table {
  margin-top: 20px;
}

.btn-sm {
  width: 60px;
  margin-left: 5px;
}
h3{
    color: white;
}
