:host {
   min-height: 50px;
   background-image: linear-gradient(to right top, #052451, #002449, #00243f, #002234, #001f2a);
   background-color: #16484b;
}

div {
    margin: 5px 10px 0;
    float: right;
    color: #ddd;
}

.icon {
    flex: 1;
    background-color: red;
    height: 100px;
    width: 50px;
}
