<div class="main" @visibility>
  <div class="group bg-dark" *screenLarge>
    <div class='index'><span>{{index}}</span></div>
    <div class='car-img'><img src='assets/images/car.png' [alt]='car.name'></div>
    <div class='car-name'><span>{{car.name}}</span></div>
    <div class='car-model'><span>{{car.model}}</span></div>
    <div class="div-buy" [hidden]='hideContentForAdmin'>
      <button type="button" class="btn btn-success" (click)="buyCar()">Buy Car</button>
    </div>
    <div class='car-price'><span>{{car.price | currency: 'USD'}}</span></div>
  </div>

  <div class="group-small bg-dark" *screenSmall>
    <div class='title-group-small'>
      <div class='index-small'><span>{{index}}</span></div>
      <div class='car-img-small'><img src='assets/images/car.png' [alt]='car.name'></div>
      <div class='car-name-small'><span>{{car.name}}</span></div>
      <div class='car-model-small'><span>{{car.model}}</span></div>
      <div class="div-buy-small" [hidden]='hideContentForAdmin'>
        <button type="button" class="btn btn-success">Buy Car</button>
      </div>
      <div class='car-price-small'><span>{{car.price | currency: 'USD'}}</span></div>
    </div>
  </div>
</div>
