:host {
  background-color: #16484b;
  position: relative;
}

.title-bar {
  flex-grow: 1;
  display: flex;
  min-height: 120px;
  padding: 10px 0;
}

  .title-bar img {
    height: 120px;
  }

.menu-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 20px;
}
.headerLogo{
    width:280px;
}
.title-bar-small {
  flex-grow: 1;
  display: flex;
  min-height: 60px;
}

.small-icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .small-icon-holder a {
    border: 2px solid #bcbcbc;
    border-radius: 20%;
    opacity: 0.5;
    margin: 0 10px;
    cursor: pointer;
  }

.small-image-holder {
  padding: 10px;
  display: flex;
}

.small-image {
  height: 100px;
}

.car {
  position: absolute;
  bottom: 0;
  left: 26%;
  width: 370px;
}
.car img {
  width: 370px;
  animation: car 1s linear infinite;
}

@keyframes car {
  100% {
    transform: translateY(-1px);
  }

  50% {
    transform: translateY(1px);
  }

  0% {
    transform: translateY(-1px);
  }
}

.wheel {
  left: 45%;
  margin-top: -63px;
}

  .wheel img {
    width: 65px;
    height: 65px;
    animation: wheel 1s linear infinite;
  }

.back-wheel {
  margin-left: 47px;
}

.front-wheel {
    margin-left: 163px; 
}

@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}
